body div.headerWidget + div {
    margin: 5px;
}

#consultation .x-dataview-inner {
    padding: 2px;
}

.summary td {
    min-width: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.textBoxError {
    color: red;
}

.treatmentAdviceUIElements {
    padding-left: 10px;
}

.treatmentAdviceUIElements .x-toolbar {
    font-size: 70%;
    background: -webkit-linear-gradient(top, #b6b4b4, #545252);
    color: white;
}

.stripedList .x-list-container .x-list-item:nth-child(odd) {
    background-color: lightgray;
}

.stripedList .x-list-container .x-list-item:nth-child(even) {
    background-color: lightblue;
}

.stripedList .x-dataview-container .x-dataview-item:nth-child(odd) {
    background-color: lightgray;
}

.stripedList .x-dataview-container .x-dataview-item:nth-child(even) {
    background-color: lightblue;
}

.diagnosisSummary .discarded{
    text-decoration: line-through;
}


.diagnosisSummary .final {
    background-color: lightgreen;
    padding: 5px;
    margin: 1px 5px;
    border-radius: 5px;
    border: 1px solid ;
}

.diagnosisSummary .observationVisitPage .final {
    background-color: lightgreen;
    padding: 0px 3px;
    margin: 1px 5px;
    border-radius: 5px;
    border: 1px solid ;
}

.observationSummary .complete-data {
    padding: 5px;
    margin: 1px 5px;
    border-radius: 5px;
    border: 1px solid;
}

.observationSummary .incomplete-data {
    padding: 5px;
    margin: 1px 5px;
    border-radius: 5px;
    border: 1px solid;
}

.incomplete-data {
    background-color: lightcoral;
}

.complete-data {
    background-color: #caddef;
}


.observationSummary .x-list-item .x-list-item-label {
    padding: 0px;
    min-height: 0px;
    border-top: 0px;
}

.observationSummary .x-list-item:last-child .x-list-item-label {
    border-bottom: 0px;
}

.observationVisitPage .incomplete-data, .observationVisitPage .complete-data {
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 3px; 
    margin-right: 3px;
    margin-bottom: 3px;
}

.summaryTitle.x-toolbar{
    font-size: 60%;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
    color: white;
}

.observationQueue .x-toolbar {
    font-size: 70%;
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
    color: white;
}

.warning {
    background-color: #FFCCCC;
}

.headerWidget {
    font-size: 85%;
    background: -webkit-linear-gradient(top, #ffffff, #cccaca);
    /*background: -webkit-linear-gradient(top, #bfd255 0%,#8eb92a 50%,#72aa00 84%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */*/
    border: 1px solid transparent;
    border-left: 0px;
    padding: 4px;
    /*margin-bottom: 5px;*/
    box-shadow: 0px 2px 5px #888888;
    height: 60px;
}

.headerWidget .title {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
    padding-top: 5px;
}

.headerWidget .x-button {
    border-radius: 0px;
    background: -webkit-linear-gradient(top, #ffffff, #a5a2a2);
    /*height: 100px;*/
}

.headerWidget .x-button:first-child {
    border-radius: 5px;
}

.headerWidget .x-button:nth-child(3){
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;    
}

.headerWidget .x-button:last-child {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;    
}

.headerWidget .x-button.x-button-action {
    background: -webkit-linear-gradient(top, #c6c0c0, #605d5d);
    border: 1px solid #5d5c5c;
}

.headerWidget .doneButton {
    background: -webkit-linear-gradient(top, #6b7487 0%,#6b7487 38%,#1e2a46 100%);
    color: white;
    border: 1px solid #0d1528;
}

.headerWidget .consultationButton .x-button-label {
    padding-bottom: 3px;
}

.headerWidget .doneButton .x-button-label {
    padding-bottom: 3px;
}


.headerWidget .patientDetails {
    text-align: center;
    padding-top: 16px;
    font-weight: bold;    
}

.smallFont {
    font-size: 70%;
}

.opdSection {
    margin-top: 10px;
    border: 5px solid;
    border-radius: 10px;
}

.opdSection .summaryTitle {
    position: absolute;
    top: -14px;
    font-size: 80%;
    display: inline-block;
    left: 20px;
    padding: 0px 5px;
    background: whitesmoke;
    z-index: 100;
    border: 2px solid;
    border-radius: 10px;
}

.opdSection .content {
    margin-top: 5px;
}

.observationDetailsPanel .arraySelectionBox {
    border: 5px solid;
}

#addTreatmentAdvicePanel {
    font-size: 80%;
}
.tick {
    background: url(../../resources/images/tick.png) no-repeat;
    height: 50px;
    width: 50px;
}

.confirmationKeyButton .x-button-label {
    font-weight: normal;
    white-space: normal;
    line-height: normal;
    height: auto;
}

.valueField {
    font-size: 114%;
    margin-left: 5px;
    border-bottom: 1px dashed black;
    overflow: hidden;
}

.valueField .x-innerhtml{
    display: table;
    height: inherit;
}

.valueField .x-innerhtml .middle {
    display: table-cell;
    vertical-align: middle;
}

.numericUIElement .x-form-fieldset-inner {
    border: 0px;
    background-color: transparent;
}

.numericUIElement .x-field-number {
    background-color: white;
}

.numericUIElement .x-field-text {
    background-color: white;
}

.no-border .x-dock.x-dock-horizontal.x-stretched{
    border: 0px;
}